##
##  NAMESPACE
##

useDynLib(adagio)

importFrom("graphics", "grid", "lines", "plot", "points")
importFrom("stats", "rnorm", "runif")
importFrom("quadprog", "solve.QP")

# Public routines
export(fnRosenbrock, grRosenbrock,
       fnRastrigin, grRastrigin,
       fnNesterov, grNesterov, fnNesterov1,
       fnHald, grHald, fnShor, grShor)
export(fnTrefethen, fnWagon)
export(maxquad)

export(maxsub, maxsub2d)
export(maxempty)
export(subsetsum, knapsack)
export(mknapsack, assignment)

export(nelmin, nelminb)
export(simpleEA, simpleDE)
export(pureCMAES)
export(fminviz, flineviz)
export(transfinite)

export(lsqlincon)
export(hamiltonian)

# S3/S4 Methods
