##
##  NAMESPACE
##

# Fortran codes
# useDynLib(adagio)

importFrom("graphics", "grid", "lines", "plot", "points")
importFrom("stats", "rnorm", "runif")

importFrom(lpSolve, lp, lp.assign)

# Public routines
export(fnRosenbrock, grRosenbrock, fnRastrigin, grRastrigin,
       fnNesterov, grNesterov, fnNesterov1, fnNesterov2,
       fnHald, grHald, fnShor, grShor)
export(fnTrefethen, fnWagon)
export(maxquad)

export(count, occurs)
export(maxsub, maxsub2d, maxempty)
export(assignment, subsetsum, sss_test,
       setcover, knapsack, mknapsack,
       change_making, bpp_approx)

export(neldermead, neldermeadb)
export(hookejeeves)
export(simpleEA, simpleDE)
export(pureCMAES)
export(fminviz, flineviz)
export(transfinite)

export(hamiltonian)
export(Historize)

# S3/S4 Methods
