##
##  NAMESPACE
##

useDynLib(adagio)

# Public routines
export(simpleEA, simpleDE)
export(trefethen, wagon)

export(maxsub, maxsub2d)
export(subsetsum, knapsack)
export(maxempty)
export(mknapsack, assignment)
export(rastrigin, rosenbrock)
export(transfinite)
export(nelmin, nelminb)

# S3/S4 Methods
